.input {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #000;
    border-radius: 8px;
    border: none;
    background-color: #F9F9F9;
    padding: 16px 0 15px 15px;
    max-width: 381px;
}

input_type_color {
    color: #EE3465;
}
.input__fieldset {
    padding: 0;
    margin: 0;
    border: none;
    height: 88px;
}
.input__label {
    font-size: 10px;
    color: #A0A0A0;
    width: 100%;
    margin: 0 0 11px;
    display: inline-block;
    box-sizing: border-box;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input__label:not(:first-child) {
    margin-top: 20px;
}

.input__error {
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    background-color: #fff;
}

@media screen and (max-width: 500px) {
    .input {
        width: 245px;
    }

    .input__label:not(:first-child) {
        margin-top: 22px;
    }
}