.movies {
    display: flex;
    justify-content: center;
    box-sizing: border-box;

}

.movies__container {
    max-width: 1140px;
    width: 100%;
    position: relative;
    padding: 0 70px 78px;
}

.movies__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    margin-top: 4px;

}

.movies__add-items {
    width: 100%;
    background-color: #F9F9F9;
    border: none;
    border-radius: 6px;
    margin-top: 63px;
    height: 36px;
    font-family: 'Inter-Regular';
    font-size: 12px;
    line-height: 15px;
}
.movies__add-items_hidden {
    display: none
}
@media screen and (max-width: 1279px) {
    .movies__container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1240px) {
    .movies__container {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        justify-content: center;
    }

    .movies__items {
        justify-content: center;
        column-gap: 30px;
        row-gap: 36px;
        margin: 0;
    }

    .movies__add-items {
        align-self: center;
        margin-top: 63px;
        margin-bottom: 80px;
        width: 708px;
    }
}

@media screen and (max-width: 800px) {
    .movies__container {
        padding: 0 10px 65px;
    }
    .movies__add-items {
        align-self: center;
        margin-top: 81px;
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 600px) {

    .movies__add-items {
        align-self: center;
        margin-top: 63px;
        margin-bottom: 80px;
    }
}