.profile {
    max-width: 410px;
    width: 100%;
    padding-top: 59px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.profile__title {
    margin: 0;
    font-family: 'Inter-Medium';
    max-width: 100%;
    font-size: 24px;
    line-height: 29px;
}

.profile__form {
    margin-top: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile__form-item {
    width: 420px;
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    position: relative;
}

.profile__form-item:first-child {
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 10px;

}

.profile__input-label {
    font-size: 11px;
    font-family: 'Inter-Medium';
    width: 120px;
}

.profile__input {
    border: none;
    text-align: right;
    font-size: 11px;
    font-family: 'Inter-Regular';
}
.profile__input-error {
    font-size: 11px;
    line-height: 13px;
    color: #EE3465;
    position: absolute;
    top: 52px;
    right: 0;
}
.profile__input-error:last-child {
    top: 32px;
}
.profile__submit {
    margin-top: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.profile__submit_invisible {
display: none;
}
.profile__submit-button {
    font-family: 'Inter-Regular';
    font-size: 13px;
    border: none;
    background-color: inherit;
}

.profile__signout {
    font-family: 'Inter-Medium';
    font-size: 13px;
    color: #EE3465;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width: 800px) {

    .profile__title {
        margin-top: 173px;
    }

    .profile__form {
        margin-top: 80px;
    }

    .profile__submit {
        margin-top: 210px;
    }
}
@media screen and (max-width: 600px) {
    .profile {
      max-width: 260px;
      flex-grow: 1;
      padding-top: 0;
      padding-bottom: 30px;
    }
    .profile__title {
        margin-top: 70px;
    }
    .profile__form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 40px;
        margin-top: 25px;
        flex-grow: 1;

    }
    .profile__form-item {
        width: 260px;
    }
    .profile__submit {
        margin-top: 0;
    }
  }