.submit {
    position: relative;
}

.submit__button {
    width: 396px;
    height: 45px;
    font-size: 14px;
    background-color: #FF6838;
    border-radius: 3px;
    border: none;
    color: #FFF;
    font-family: 'Inter-Medium';
}

.submit__button_type_login {
    margin-top: 179px;
}

.submit__button_type_register {
    margin-top: 91px;
}

.submit__button_type_profile {
    margin-top: 200px;
}

.submit__button:disabled {
    background: #F8F8F8;
    color: #C2C2C2;
    cursor: auto;
}

.submit__text {
    margin-top: 18px;
    font-size: 14px;
    color: #A0A0A0;
    text-align: center;
}

.submit__link {
    color: #FF6838;
    text-decoration: none;
}

.submit__error {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #EE3465;
    position: absolute;
    top: 145px;
    right: 0;
    left: 0;
    display: none;
}

.submit__error_visuble {
    display: block;
}
@media screen and (max-width: 700px) {
    
    .submit__button {
        margin: 0;
        width: 260px;
    }

    .submit__text {
        font-size: 12px;
        margin: 14px auto 30px;

    }
}
