.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header_theme_color {
    background-color: #465DFF;
}

.header__container {
    max-width: 1140px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 28px 70px;
}

@media screen and (max-width: 800px) {
    .header__container {
        padding: 18px 30px;
    }
}
@media screen and (max-width: 600px) {
    .header__container {
        padding: 14px 18px;
    }
}