.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    width: 100%;
    padding: 70px 54px 20px 70px;
    position: relative;
}

.footer__title {
    font-size: 13px;
    line-height: 16px;
    color: #A0A0A0;
    text-align: center;
}

.footer__line {
    border: 1px solid #E8E8E8;
    width: 100%;
}
.footer__caption {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 11px;
}
.footer__copyright {
    padding: 0;
    margin: 0;
    font-size: 13px;
    line-height: 16px;
}
.footer__links {
    display: flex;
    gap: 20px;
}
.footer__link {
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
}
@media screen and (max-width: 800px) {
    .footer {
        background-color: #fff;
    }
    .footer__container {
        padding: 0 30px 20px;
    }
    .footer__caption {
        margin-top: 10px;
    }
}
@media screen and (max-width: 600px) {
    .footer {
        background-color: #fff;
    }
    .footer__container {
        padding: 0 10px 20px;
        
    }
    .footer__title {
font-size: 12px;
line-height: 15px;
    }
    .footer__caption {
        flex-direction: column-reverse;
        margin-top: 23px;
        gap: 27px;
    }
    .footer__links {
        flex-direction: column;
        text-align: center;
        gap: 12px;
    }
    .footer__copyright {
        color: #A0A0A0;
    }
}
