.about-me {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-me__container {
    max-width: 1140px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 93px 70px 0;
}

.about-me__content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 50px;
}

.about-me__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
}

.about-me__name {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    margin-top: 0;
    margin-bottom: 18px;
}

.about-me__job {
    font-family: 'Inter_Medium';
    font-size: 18px;
    line-height: 20px;
    mix-blend-mode: normal;
    margin-top: 0;
    margin-bottom: 26px;
}

.about-me__resume {
    font-size: 14px;
    line-height: 22px;
    mix-blend-mode: normal;

}

.about-me__link {
    font-family: 'Inter_Medium';
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}

.about-me__avatar {
    height: 327px;
    width: 270px;
    object-fit: cover;
    border-radius: 10px;
}

@media screen and (max-width:900px) {
    .about-me__container {
        padding: 71px 50px 0;


    }

    .about-me__content {
        margin-top: 48px;
    }

    .about-me__name {
        font-size: 40px;
        margin-bottom: 18px;
        padding: 0;
        line-height: 36px;
    }

    .about-me__job {
        font-family: 'Inter-Medium';
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 19px;
    }

    .about-me__avatar {
        height: 307px;
        width: 255px;
    }
}

@media screen and (max-width:650px) {
    .about-me__container {
        padding: 30px 18px 0;
    }

    .about-me__content {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 44px;
        gap: 41px;
    }
.about-me__name {
font-size: 30px;
line-height: 36px;
letter-spacing: -0.04em;
}
    .about-me__avatar {
        height: 352px;
        width: 292px;
    }
.about-me__link {
    margin-top: 8px;
}
}